body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.navbar .upper-part {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  background-color: #ffa500;
  color: white;
}
.navbar .upper-part .change-language {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.navbar .upper-part .change-language .lang-1 {
  color: white;
  cursor: pointer;
}
.navbar .upper-part .change-language .lang-2 {
  color: #868686;
  cursor: pointer;
}
.navbar .upper-part .contacts {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navbar .upper-part .contacts .phone-number {
  cursor: pointer;
}
.navbar .upper-part .contacts .email {
  cursor: pointer;
}
.navbar .lower-part {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar .lower-part .l-part {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .lower-part .l-part .logo {
  width: 300px;
  height: 80px;
  text-align: center;
}
.navbar .lower-part .l-part .logo a {
  text-decoration: none;
}
.navbar .lower-part .l-part .logo .text-logo {
  font-size: 32px;
  font-weight: 600;
  color: #ffa500;
  vertical-align: 70%;
}
.navbar .lower-part .l-part .vertical-line {
  height: 60px;
  margin: 5px;
}
.navbar .lower-part .l-part .location {
  width: 260px;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}
.navbar .lower-part .l-part .location a {
  text-decoration: none;
}
.navbar .lower-part .l-part .location .location-icon {
  fill: #ffa500;
  width: 20px;
}
.navbar .lower-part .l-part .location .location-text {
  color: white;
  font-size: 24px;
}
.navbar .lower-part .l-part .location:hover {
  filter: brightness(70%);
}
.navbar .lower-part .r-part {
  width: 540px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .lower-part .r-part .button {
  height: 100%;
  font-size: 28px;
  display: flex;
  align-items: center;
}
.navbar .lower-part .r-part .button a {
  text-decoration: none;
  color: white;
}
.navbar .lower-part .r-part .button:hover {
  filter: brightness(70%);
}

.slider-container {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
}
.slider-container .swiper {
  width: 100%;
  height: 620px;
}
.slider-container .swiper-slide img {
  width: 100%;
}
.slider-container .swiper-pagination-bullet {
  background-color: white;
}
.slider-container .slider-text {
  width: 920px;
  height: 250px;
  border: #ffa500 solid 2px;
  top: 300px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slider-container .slider-text h1 {
  font-size: 100px;
  color: white;
  margin: auto;
}
.slider-container .slider-text p {
  text-align: center;
  width: 800px;
  font-size: 28px;
  color: white;
  margin: auto;
}

.services {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.services .div {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.services .div .horisontal-line {
  height: 5px;
  width: 140px;
  background-color: #ffa500;
  margin: 0;
}
.services .div .services-text {
  margin-top: 0;
}
.services .div .services-text h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
}
.services .items {
  width: 1100px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.services .items .item {
  width: 20%;
  height: 100%;
  background-color: #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .items .item svg {
  margin-top: 20px;
  margin-bottom: 30px;
}
.services .items .item div {
  text-align: center;
  color: white;
  font-size: 24px;
}
.services .items .item:hover svg {
  margin-top: 15px;
}
.services .items .item:hover {
  background-color: #ffa500;
}

.about-company {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 150px;
}
.about-company .l-pr {
  width: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}
.about-company .l-pr .horisontal-line {
  height: 5px;
  width: 140px;
  background-color: #ffa500;
  margin: 0;
}
.about-company .r-pr {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.about-company .r-pr .block {
  width: 200px;
  height: 150px;
  background-color: #868686;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-company .r-pr .block + .bl-1 {
  background: center url("img/img2.jpeg");
  background-size: 130%;
}
.about-company .r-pr .block + .bl-2 {
  background: center url("img/img1.jpeg");
  background-size: 115%;
}
.about-company .r-pr .block .number {
  text-align: center;
  color: white;
  font-size: 64px;
  box-sizing: border-box;
  margin: 0;
}
.about-company .r-pr .block .text {
  text-align: center;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}
.about-company .r-pr .block + .text-1 {
  padding: 0 auto;
}

.map {
  margin: 0;
  width: 100%;
}
.map .map-img {
  width: 100%;
}

section {
  margin: 0;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #ffa500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer .logo {
  background-color: black;
  border-radius: 5%;
}
.footer .logo a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.t {
  text-decoration: none;
  width: 150px;
  height: 50px;
  position: fixed;
  background-color: #ffa500;
  color: black;
  font-weight: 300;
  border-radius: 25px;
  z-index: 10;
  border: solid black 1px;
  bottom: 150px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t:hover {
  color: white;
}

.index-2 {
  display: flex;
  justify-content: center;
}
.index-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 600px;
  background-color: #868686;
}
.index-2 .container .call {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-2 .container .call input {
  margin: 5px auto;
}
.index-2 .container .choose {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
